<div class="day-graphs">
  <h3>Average bike traffic by hour (May 2017 - Apr. 2018)</h3>
  <ul class="color-legend">
    <li><span class="dir-0"></span>{{ decipher[weekday[0].dir] }}</li>
    <li><span class="dir-1"></span>{{ decipher[weekday[1].dir] }}</li>
  </ul>
  <h4>Weekdays (max: {{ commafy(this.maxVals.weekday) }} bikes per hour)</h4>
  <canvas class="weekday"></canvas>
  <div class="x-axis">
    <span v-for="(label, i) in ticks" v-bind:style="{ left: xs[i].toString() + 'px'}">{{ label }}</span>
  </div>
  <h4>Weekend (max: {{ commafy(this.maxVals.weekend) }} bikes per hour)</h4>
  <canvas class="weekend"></canvas>
  <div class="x-axis">
    <span v-for="(label, i) in ticks" v-bind:style="{ left: xs[i].toString() + 'px'}">{{ label }}</span>
  </div>
</div>
