<div class="day-graphs">
  <h3>Average bike traffic by hour (May 2017 - April 2018)</h3>
  <ul class="color-legend">
    <li><span class="dir-0"></span>{{ betterDecipher(weekday[0].dir) }}</li>
    <li><span class="dir-1"></span>{{ betterDecipher(weekday[1].dir) }}</li>
  </ul>
  <h4>Weekdays (Peak of {{ commafy(maxValsAndIndexes.weekday[0]) }} bikes per hour during the {{ indexToHourStr(maxValsAndIndexes.weekday[1]) }} hour)</h4>
  <canvas class="weekday"></canvas>
  <div class="x-axis">
    <span v-for="(label, i) in ticks" v-bind:style="{ left: xs[i].toString() + 'px'}">{{ label }}</span>
  </div>
  <h4>Weekend (Peak of {{ commafy(maxValsAndIndexes.weekend[0]) }} bikes per hour during the {{ indexToHourStr(maxValsAndIndexes.weekend[1])}} hour)</h4>
  <canvas class="weekend"></canvas>
  <div class="x-axis">
    <span v-for="(label, i) in ticks" v-bind:style="{ left: xs[i].toString() + 'px'}">{{ label }}</span>
  </div>
</div>
