<div class="day-graphs">
  <h3>Average bike traffic by hour (May 2017 - Apr. 2018)</h3>
  <ul class="color-legend">
    <li><span class="dir-0"></span>{{ betterDecipher(weekday[0].dir) }}</li>
    <li><span class="dir-1"></span>{{ betterDecipher(weekday[1].dir) }}</li>
  </ul>
  <h4>Weekdays</h4>
  <div class="annotation">
    <span class="count constrained" v-bind:style="{ left: annotations.weekday.textX.toString() + 'px', top: annotations.weekday.textY.toString() + 'px' }">{{ commafy(maxValsAndIndexes.weekday[0])}} <span class="unit">bikes per hour</span></span>
  </div>
  <canvas class="weekday"></canvas>
  <div class="x-axis">
    <span v-for="(label, i) in ticks" v-bind:style="{ left: xs[i].toString() + 'px'}">{{ label }}</span>
  </div>
  <h4>Weekend</h4>
  <div class="annotation">
    <span class="count constrained" v-bind:style="{ left: annotations.weekend.textX.toString() + 'px', top: annotations.weekend.textY.toString() + 'px' }">{{ commafy(maxValsAndIndexes.weekend[0])}} <span class="unit">bikes per hour</span></span>
  </div>
  <canvas class="weekend"></canvas>
  <div class="x-axis">
    <span v-for="(label, i) in ticks" v-bind:style="{ left: xs[i].toString() + 'px'}">{{ label }}</span>
  </div>
</div>
