@import "seattletimes";

[v-cloak] {
  display: none !important;
}

main {
  margin: 20px auto;
  max-width: 960px;
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  font-family: @df-sans;
}

.chatter {
  h1 {
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
  }
  p {
    text-align: center;
    font-family: @df-serif;
  }
}

.header-row {
  h2 {
    font-size: 18px;
    text-align: center;
  }

  .pair div {
    padding: 5px;
    text-align: center;
    &:hover, &:focus {
      cursor: pointer;
      background-color: darken(@df-off-white, 5%);
    }
  }
}

.row {
  border-bottom: 1px solid @df-light-gray;
  .display-flex();

  &:not(.header-row) {
    min-height: 100px;
    &:hover, &:focus {
      background-color: darken(@df-off-white, 5%);
      cursor: pointer;
    }
  }

  & > * {
    .flex(1 1 0);
    padding: 10px;
  }
  & > :nth-child(2 ) {
    .flex(2 0 0);
  }
}

.reorder-list-move {
  transition: transform 0.5s ease;
}

.locator {
  .display-flex();
  .justify-content(space-between);
  .align-items(center);

  span {
    .flex(1 1 50%);
  }

  svg {
    .flex(0 0 50px);
  }
}

h3 {
  margin: 0;
  font-size: 18px;
  text-align: center;

  &.dir-0 {
    color: @st-dark-red;
  }
  &.dir-1 {
    color: @st-dark-blue;
  }
}
.pair {
  padding: 0;
  .display-flex();
  .justify-content(space-around);
  .align-items(center);

  & > div {
    .flex(0 1 20%);
    text-align: right;
    line-height: 1;
  }
}

.brick {
  display: inline-block;
  width: 10px;
  background-color: @st-dark-orange;
}

canvas {
  height: 100px;
}

.drilldown {
  border: 1px solid @df-border-gray;
  height: 400px;
  overflow-y: hidden;
  transition: height 0.5s ease;
  .display-flex();
  .align-items(center);

  .month-graph {
    .flex(1 0 0);
    canvas {
      width: 100%;
      height: 200px;
    }
    .x-axis {
      position: relative;
      span {
        position: absolute;
        transform: translatex(-50%);
        font-size: 14px;
        white-space: nowrap;
      }
    }
  }

  .day-graphs {
    .flex(1 0 0);
    canvas {
      width: 100%;
    }
  }
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0;
}

.source {
  font-size: 12px;
  padding: 10px 0;
  color: #999;
  clear: both;
  font-style: italic;
  text-align: left;
  .credit {
    font-style: normal;
    text-transform: uppercase;
    display: block;
    float: right;
    @media @mobile {
      float: none;
    }
  }
}
