@import "seattletimes";

main {
  margin: 20px auto;
  max-width: 960px;
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
}

.header-row {
  h2 {
    font-size: 20px;
    text-align: center;
    font-family: @df-sans;
  }
}

.row {
  .display-flex();
  border-bottom: 1px solid @df-light-gray;

  &:not(.header-row):hover, &:not(.header-row):focus     {
    background-color: @df-off-white;
    cursor: pointer;
  }

  & > div {
    padding: 10px;
  }
  & > :nth-child(1), :nth-child(3) {
    .flex(2 0 0);
  }
  & >:nth-child(2) {
    .flex(1 0 0);
  }
}

h3 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  font-family: @df-sans;

  &.dir-0 {
    color: @st-dark-red;
  }
  &.dir-1 {
    color: @st-dark-blue;
  }
}
.pair {
  padding: 10px 0;
  .display-flex();

  & > div {
    width: 50%;
    text-align: right;
    line-height: 1;
    font-family: @df-sans;
    .display-flex();
    .justify-content(flex-end);
    .align-items(flex-end);
  }
}

.brick {
  display: inline-block;
  width: 10px;
  background-color: @st-dark-orange;
}

.drilldown {
  height: 200px;
  transition: height .5s ease;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0;
  overflow-y: hidden;
}
