@import "seattletimes";

[v-cloak] {
  display: none !important;
}

main {
  margin: 20px auto;
  max-width: 960px;
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  font-family: @df-sans;
}

.chatter {
  h1 {
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
  }
  p {
    text-align: center;
    font-family: @df-serif;
  }
}

.row.header-row {
  border-bottom: 1px solid @df-light-gray;

  @media @mobile {
    display: none;
  }

  h2 {
    padding: 0;
    font-size: 18px;
    text-align: center;

  }

  .pair div {
    // padding: 5px;
    text-align: center;
    &:hover, &:focus {
      cursor: pointer;
      background-color: darken(@df-off-white, 5%);
    }
  }
}

.row {
  .display-flex();
  .align-items(center);
  
  @media @mobile {
    display: block;
  }
  
  & > * {
    .flex(1 1 25%);
    padding: 20px 10px 3px;
  }
  & > :nth-child(2) {
    .flex(2 2 50%);
  }
}

.row-wrapper {
  border-bottom: 1px solid @df-light-gray;

  &:not(.header-row) {
    &:hover, &:focus {
      background-color: darken(@df-off-white, 5%);
      cursor: pointer;
    }
  }
  
  @media @mobile {
    margin: 20px 10px 0;
    box-shadow: 0 8px 16px 0 fade(black, 10%);
    border: 1px solid @df-light-gray;
    border-radius: 3px;
  }
}

.see-more {
  padding-bottom: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  color: @df-middle-gray;
  text-shadow: 1px 1px 1px @df-light-gray;

  // Desktop, no hover/focus
  opacity: 0;
  visibility: hidden; // Hide from screen readers (but use with opacity for transition)
  transition: opacity 0.2s linear,
    visibility 0s 0.2s;
  
  // Tablet + mobile (regardless of hover/focus)
  @media @tablet {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s linear;
  }
  
  // Desktop, hover/focus
  :hover > &, :focus > & {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s linear;

    // All, drilldown open
    &.hide {
      opacity: 0;
      visibility: hidden; 
      transition: opacity 0.2s linear,
        visibility 0s 0.2s;
    }
  }
}

.see-less {
  margin: 0;
  width: 100%;
  background: transparent;
  border: none;
  padding: 0;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: @df-middle-gray;
  text-shadow: 1px 1px 1px @df-light-gray;

  display: none;
  @media @mobile {
    display: block;
  }
}

.reorder-list-move {
  transition: transform 0.5s ease;
}

.locator {
  .display-flex();
  .justify-content(space-between);
  .align-items(center);

  span {
    .flex(1 1 50%);
  }

  svg {
    .flex(0 0 50px);
  }
}

.sparkline {
  @media @mobile {
    padding: 20px;

    &::before {
      display: block;
      text-align: center;
      font-weight: bold;
      content: "Average daily bike traffic";
    }
  }
}

h3 {
  margin: 0;
  font-size: 17px;
  text-align: center;
}
h4 {
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
}

.pair {
  padding: 0;
  .display-flex();
  .justify-content(space-around);
  .align-items(flex-end);

  @media @mobile {
    display: block;
    padding: 10px;
    &::before {
      display: block;
      font-weight: bold;
      text-align: center;
      content: "Total bike traffic over a year"
    }
  }

  & > div {
    .flex(0 1 20%);
    text-align: right;
    line-height: 1;

    @media @mobile {
      &::before {
        float: left;
      }
      &:nth-child(1)::before {
        content: "May 2015 - Apr. 2016: ";
      }
      &:nth-child(2)::before {
        content: "May 2016 - Apr. 2017: ";
      }
      &:nth-child(3)::before {
        content: "May 2017 - Apr. 2018: ";
      }
    }
  }
}

.delta {
  display: block;
  font-size: 14px;
  color: @st-dark-red;
  &.up {
    color: @st-dark-green;
  }

  @media @mobile {
    display: none;
  }
}

canvas {
  display: block;
  height: 50px;
  width: 100%;
}

.annotation {
  position: relative;
  .count {
    position: absolute;
    font-size: 14px;
  }
  .constrained {
    max-width: 60px;
  }
}

.x-axis {
  position: relative;
  span {
    position: absolute;
    transform: translatex(-50%);
    font-size: 14px;
    white-space: nowrap;
    transition: left .1s ease;
  }
}

.drilldown {
  border: 1px solid @df-light-gray;
  border-top: 1px solid white;
  border-radius: 3px;
  box-shadow: 0 8px 16px 0 fade(black, 10%);
  margin: -1px 10px 20px;
  height: 360px;
  overflow-y: hidden;
  transition: all 0.5s ease;
  .display-flex();

  @media @mobile {
    display: block;
    margin: 0 20px 20px;
    border-top: none;
    height: 660px;
  }

  & > div {
    margin: 10px;
  }

  .month-graph {
    .flex(1 0 0);
    @media @mobile {
      margin-bottom: 30px;
    }

    canvas {
      height: 270px;
      @media @mobile {
        height: 150px;
      }
    }

    p {
      margin-top: 30px;
      font-size: 12px;
      line-height: 1.1;
    }
  }

  .day-graphs {
    .flex(1 0 0);
    canvas {
      height: 100px;
    }
    .x-axis {
      padding-bottom: 20px;
    }
  }
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0;
  margin-bottom: 0;
}

.color-legend {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  .display-flex();
  .justify-content(space-around);
  .flex-wrap(wrap);

  span {
    display: inline-block;
    margin-right: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    &.dir-0 {
      background-color: @st-dark-red;
    }
    &.dir-1 {
      background-color: @st-dark-blue;
    }
  }
}

.source {
  font-size: 12px;
  padding: 10px 0;
  color: #999;
  clear: both;
  font-style: italic;
  text-align: left;
  .credit {
    font-style: normal;
    text-transform: uppercase;
    display: block;
    float: right;
    @media @mobile {
      float: none;
    }
  }
}

.desc::after {
  content: "▾";
}
.asc::after {
  content: "▴";
}
