<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main>
        <section class="chatter">
          <h1>Bike counter data (hed TK)</h1>
          <p>Click on the rows below to see detailed bike counter data. (chatter TK)</p>
        </section>
        <div class="row header-row">
          <h2>Location</h2>
          <h2>
            Total bike traffic over a year
            <small class="pair">
              <div>May 2016 - Apr. 2017</div>
              <div>May 2017 - Apr. 2018</div>
              <div>Change</div>
            </small>
          </h2>
          <h2>Avg. bike traffic over the week (Sun. through Sat.)</h2>
        </div>
        <div v-for="counter in counterNames">
          <div class="row" tabindex="0" v-on:click="toggleDrilldown(counter)" v-on:keyup.enter="toggleDrilldown(counter)">
            <locator v-bind:counter="counter" v-bind:coords="bikeCounts[counter].coords"></locator>
            <count-grid v-bind:totals="bikeCounts[counter].totals"></count-grid>
            <spark-line v-bind:weekly="bikeCounts[counter].weekly"></spark-line>
          </div>
          <transition name="slide">
            <div v-show="drilldown === counter" class="drilldown">
              Drilldown content TK
            </div>
          </transition>
        </div>
        <footer class="source">
          Source: city of Seattle<span class="credit">Alec Glassford / THE SEATTLE TIMES</span>
        </footer>
      </main>

    </responsive-child>

    <div style="display: none">
      <%= t.include("./assets/locator-seattle.svg") %>
    </div>

    <script>
      var bikeCounts = <%= JSON.stringify(json.processed) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
