<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main>
        <div class="row header-row">
          <h2>Location</h2>
          <h2>Bike Count (2016-17 vs 2017-2018)</h2>
          <h2>Bikes over the span of a week</h2>
        </div>
        <div v-for="counter in counterNames">
          <div class="row" tabindex="0" v-on:click="toggleDrilldown(counter)" v-on:keyup.enter="toggleDrilldown(counter)">
            <div>{{ counter }} (map TK)</div>
            <count-grid v-bind:totals="bikeCounts[counter].totals"></count-grid>
            <spark-line v-bind:weekly="bikeCounts[counter].weekly"></spark-line>
          </div>
          <transition name="slide">
            <div v-if="drilldown === counter" class="drilldown">
              Drilldown content TK
            </div>
          </transition>
        </div>
      </main>

    </responsive-child>

    <script>
      var bikeCounts = <%= JSON.stringify(json.processed) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
